gh_token: <GH token with read>
#output_file_prefix: "metrics-report"

# teams in the organization that include reviewers
# these keys are the 'slug' for the team, which you see in the address bar
# Example: https://github.com/orgs/SatelliteQE/teams/tier-1-reviewers
reviewer_teams:
  SatelliteQE:
    robottelo:
      tier1: robottelo-tier-1-reviewers
      tier2: robottelo-tier-2-reviewers
    nailgun:
      tier1: nailgun-tier-1-reviewers
      tier2: nailgun-tier-2-reviewers
    airgun:
      tier1: airgun-tier-1-reviewers
      tier2: airgun-tier-2-reviewers
